{% extends 'webProjectApp/base.html' %}
{% load static %}
{% block content %}

    <!-- Para mas info: 1 = https://youtu.be/Dsgsfnp8RA8 / 2 = https://youtu.be/zycSmPlRiVg = -->
    {% for post in posts %}
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4" >
                            <span class="section-heading-lower">{{post.titulo}}</span>
                            <span class="section-heading-upper">{{post.contenido}}</span>
                        </h2>
                        <div style='text-align:left; font-size:0.8 rem'>
                            Autor: {{post.autor}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}

    <section>
        <div class="container text-center text-light">
            <h1>Categorías:</h1>
                {% for categoria in categorias %}
                    <a href="{% url 'categorias' categoria.id %}" class="linksCategorias">{{categoria.nombre}}</a> &nbsp;
                {% endfor %}
            <!-- Para mas info: https://youtu.be/sTRm5YA7Hdk-->
        </div>
    </section>

{% endblock %}